@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<strong>
    @ViewData["professor"]
    </strong>
        <p>@ViewData["emailprofessor"]</p>
        <address>
            <p>
                More Information:
                <a href="http://educandoweb.com.br">educandoweb.com.br</a>
            </p>
        </address>

        <strong>
            @ViewData["student"]
        </strong>
        <p>@ViewData["emailstudent"]</p>
        <address>
            <p>
                More Information:
                <a href="https://github.com/plannktom/SalesWebProject">github.com.br</a>
            </p>
        </address>
